<canvas #canvas tabindex='1'></canvas>

<div class="chatbox vflexbox">
  <div class="flex-1 chat-scroll">
    <div *ngFor="let chatMatchData of chat">
      {{matchChatDataToString(chatMatchData)}}
    </div>
  </div>
  <div class="hflexbox">
    <form class="flex-1 hflexbox" (submit)="onClickSendChat()">
      <input class="flex-1" [(ngModel)]="chatInput" name="chatInput" placeholder="Type here to chat..."/>
      <button type="submit" style="display:none"></button>
    </form>
    <div class="btn" (click)="onClickSendChat()">Send</div>
  </div>
</div>