.chatbox {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
}

.chat-scroll {
  min-height: 0px;
  overflow-y: scroll;
}